@charset "utf-8";

@import "bourbon";
@import "base/base"; /* Bitters needs imported before Neat */
@import "neat";

@import "bootstrap";
@import "bootstrap-sprockets";

@import "partials/layout";
@import "partials/footer";

body {
  padding-top: 65px;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
