    <%= tag :img, :src => "/images/marcum_smoke_effect.jpg" %>
    <div class="caption">
      <p>Lorem ipsum...</p>
    </div>
    <%= tag :img, :src => "/images/marcum_disentegrate_effect.jpg" %>
    <div class="caption">
      <p>Lorem ipsum...</p>
    </div>
    <%= tag :img, :src => "/images/marcum_face_duplicate.jpg" %>
    <div class="caption">
      <p>Lorem ipsum...</p>
    </div>
