---
title: Ultrablastkin web demo
---
<%= link_to 'android apk for Devin the dumb stupid idiot', '/downloads/Ultrablastkin/android/Ultrablastkin.apk' %>

<iframe src="../game/index.html" width=1024 height=600 style="max-width: 70rem;">
  <p>Browser does not support iframes...</p>
</iframe>

