---
title: Ultrablastkin web demo
---
<iframe src="../game/index.html" width=1024 height=600 style="max-width: 70rem;">
  <p>Browser does not support iframes...</p>
</iframe>

<%= link_to 'android apk', '/downloads/Ultrablastkin/android/Ultrablastkin.apk' %>

